body {
  margin-top: 50px;
  background: #cccccc;
  text-align: center;
  text-shadow: 20px 5px 20px #66FF99;
  text-transform: full-width;
  font-weight: bold;
  font-family: serif;
  font-size: 100px;
  line-height: 1em;
  letter-spacing: -0.2em;
}

h4 {
    line-height: normal;
    letter-spacing: normal;
}
h5 { line-height: normal;
    letter-spacing: 1em;
}
p {
   line-height: normal;
   letter-spacing: 1em;
}
