body {
  margin-top: 100px;
  background: #cccccc;
  text-align: center;
  text-shadow: 20px 5px 20px #66FF99;
  font-weight: bold;
  font-family: serif;
  font-size: 100px;
  line-height: 1em;
  letter-spacing: -0.2em;
}

h1:before {
  content:"title";
  font-size:10px;
  letter-spacing: 1em
}
h2:before {
  content:"date";
  font-size:10px;
  letter-spacing: 1em;
}
h5:before {
  content:"supported";
  font-size:10px;
  letter-spacing: 1em;
}
h5 {
  letter-spacing: 1em;
}
p {
  word-spacing: 1em;
}
.henka-2 a {
	color:rgba(17,17,17,1);
	background:rgba(242,242,242,1);
	padding:10px;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	transition: all 0.7s;
	}
.henka-2 a:hover{
	color:rgba(255,255,255,1);
	background:rgba(226,0,72,1);
	}
