body {
  margin-top: 50px;
  background: #cccccc;
  text-align: center;
  text-shadow: 20px 5px 20px #66FF99;
  text-transform: full-width;
  font-weight: bold;
  font-family: serif;
  font-size: 100px;
  line-height: 1em;
  letter-spacing: -0.2em;
}

h1:before {
  content:"title";
  font-size:10px;
  letter-spacing: -2em
}
h1 {
    line-height: -1em;
    letter-spacing: -0.4em;
}
h2:before {
  content:"date";
  font-size:10px;
  letter-spacing: -2em
}
h3 {
  letter-spacing: 0.2em;
}
h4 {
    line-height: normal;
    letter-spacing: normal;
}
h5:before {
  content:"supported";
  font-size:10px;
  letter-spacing: -2em
}
h5 { line-height: normal;
    letter-spacing: 0.1em;
}
p {
   line-height: normal;
   letter-spacing: 0.3em;
}
